html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}

body {
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Alinha o conteúdo ao topo */
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}

main {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    max-width: 1200px;
    padding: 16px;
    box-sizing: border-box;
    margin: 16px auto; 
}

.sobreMim {
    border: 3px solid white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    max-width: 800px;
    padding: 32px;
    background-color: #333;
    color: white;
    border-radius: 8px;
    margin-bottom: 24px; /* Espaçamento abaixo da seção */
}

.mainLanguages {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.mainLanguages ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.mainLanguages li {
    margin: 8px 16px;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}

.mainLanguages li img {
    margin-left: 8px;
    width: 30px;
    height: 30px;
}

.contatosProjetos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin: 24px 0;
}

._detalhes_projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 800px;
    padding: 16px;
    
    border-radius: 8px;
}

._detalhes_projetos li {
    
    padding: 16px;
    border-radius: 8px;
    word-break: break-word;
}

p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 16px;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: center;
}

ul {
    font-size: 1.6rem;
    margin-bottom: 16px;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsividade */
@media (max-width: 768px) {
    .sobreMim {
        padding: 16px;
    }

    p, h2, ul {
        font-size: 1.4rem;
    }

    ._detalhes_projetos {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (max-width: 480px) {
    .mainLanguages ul {
        flex-direction: column;
        align-items: center;
    }

    .mainLanguages li {
        margin: 8px 0;
    }

    ._detalhes_projetos {
        grid-template-columns: 1fr;
    }

    p, h2, ul {
        font-size: 1.2rem;
    }
}
